@media screen and (min-width: 10px) and (max-width: 390px) {
  .navbar-heading {
    display: none;
  }
  .navbar-buttons {
    display: flex;
    align-items: center;
  }
  .navbar-main {
    height: 8vh !important;
    padding: 0 !important;
  }
  .logo {
    font-size: 1.5rem !important;
  }
  #nav-item-clock {
    display: none;
  }
}

body {
  height: 100% !important;
  background-color: #f4f5f6 !important;
}

.article {
  padding: 8px;
}

.article-description {
  padding: 4px;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 8px;
}

.article-title {
  padding: 8px 0;
  color: black;
  font-size: 20px;
  line-height: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
}

.article-thumbnail {
  margin-top: 12px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 16px;
  margin-bottom: 8px;
}

.article-thumbnail-title {
  color: black;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 4px;
}

.cover {
  padding: 4px;
  margin-bottom: 8px;
}

.cover-category {
  color: #f72210;
  font-size: 20px;
  line-height: 20px;
  font: bold 16px/26px "roboto condensed", sans-serif;
}

.cover-category-mag {
  font: bold 16px/26px "Roboto Condensed", sans-serif;
  padding: 0 7px;
  background-color: #f72210;
  color: #fff;
  margin-right: 7px;
}

.cover-header {
  padding: 0 !important;
  margin: 8px 0;
}

.cover-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: bolder;
}

.footer-icon {
  font-size: 26px;
  color: #666;
}

.footer-lang {
  color: #666;
  font-size: 14px;
  line-height: 15px;
}

.footer-link {
  display: inline;
  border-right: 1px solid #d9d9d9;
  padding-right: 10px;
  margin-right: 10px;
  color: #666;
}

.headline {
  color: #666;
  color: rgba(3, 3, 3, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font: bold 15px/15px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding: 15px 0;
  border-bottom: 1px solid #d9d9d9;
}

.heading-text {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0 9px;
  border-right: 1px solid lightgray;
}

.logo {
  font-family: "Abril Fatface", cursive;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.main-container {
  background-color: white;
}

.navbar {
  padding: 0px !important;
  margin: 0 !important;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-heading {
  padding: 0 !important;
}

.navbar-date {
  font: 16px "Roboto Condensed", sans-serif;
  color: #fff;
  padding-top: 5vh;
}

.navbar-main {
  background-color: #f72210 !important;
  height: 95px;
}

.opinion-description {
  color: #666;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font: bold 13px/18px "Roboto Condensed", sans-serif;
  margin: 3px 0;
}

.opinion-title {
  color: black;
  font-weight: 800;
  font-size: 12px;
  line-height: 22px;
  font-family: "Roboto Condensed", sans-serif;
}

.placeholder-xs {
  width: 35%;
  height: 8vh;
  background-color: gray;
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
}

.placeholder-sm {
  width: 100%;
  height: 18vh;
  background-color: gray;
}

.placeholder-md {
  width: 100%;
  height: 24vh;
  background-color: gray;
}

.placeholder-pick {
  width: 100%;
  height: 80%;
  background-color: gray;
  min-height: 16vh;
}

.placeholder-round-md {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: gray;
  float: left;
  margin: 8px;
}

.related-article {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 8px 0;
  font: bold 16px/20px "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-align: center;
  margin-bottom: 16px !important;
}

.section-headline {
  max-width: 100% !important;
  font: bold 19px/19px "Roboto Condensed", sans-serif;
  border-bottom: 1px solid #d9d9d9;
  padding: 8px 0px;
}

.section-icon {
  padding: 2px 4px;
  font-size: 1.66rem;
  background-color: #f72210;
  color: white;
  float: left;
  font-weight: bolder;
  font: bold 19px/19px "Roboto Condensed", sans-serif;
  margin-right: 10px;
}

.section-pick {
  height: 100%;
}

.section-picks {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 16px 0;
}

.section-pick-category {
  color: #f72210;
  font-size: 20px;
  line-height: 20px;
  font: bold 16px/26px "roboto condensed", sans-serif;
  margin-bottom: 8px;
}

#footer-copyrigth {
  font-size: 12px;
  line-height: 12px;
  color: #666;
}

#footer-logo {
  color: red;
  font-size: 45px;
  font-weight: bolder;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-signin {
  color: #fff;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  font-weight: 800;
}

#nav-subscribe {
  background-color: #fff;
  color: #f72210;
  font: bold 14px/14px "Roboto Condensed", sans-serif;
  padding: 10px;
}
